{% extends "layout.html" %}
{% block body %}

<section id="main">
    <section id="content">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert" style="background-color:lightblue">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form role="form" method="post">
                {% if session['build'] %}
                <button type="submit" class="btn btn-primary btn-icon-text waves-effect" style="background-color:black" name="another">
                    <i class="zmdi zmdi-arrow-forward"></i>
                    Build Another
                </button>
                {% endif %}
                {% if session['to_build'] %}
                <button type="submit" class="btn btn-primary btn-icon-text waves-effect" style="background-color:black" name="update">
                    <i class="zmdi zmdi-arrow-forward"></i>
                    Update
                </button>
                {% endif %}
                {% if not(session['build'] or session['to_build']) %}
                <div class="form-group fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Path" name="path">
                </div>
                <button type="submit" class="btn btn-primary btn-icon-text waves-effect" style="background-color:black">
                    <i class="zmdi zmdi-arrow-forward"></i>
                    Build
                </button>
                {% endif %}
            </form>
        </div>
    </section>
</section>

{% if session['build'] %}
<section>
    {% if session['query_sent'] %}
    <div class="container">
        <form role="form" method="post">
            <button type="submit" class="btn btn-primary btn-icon-text waves-effect" style="background-color:black" name="refresh">
                    <i class="zmdi zmdi-arrow-forward"></i>
                    Refresh
            </button>
        </form>
    </div>
    {% endif %}
    {% if not(session['query_sent']) %}
        {% if not(session['query']) %}
        <div class="container">
            <form role="form" method="post">
                <div class="form-group fg-line">
                    <input type="text" class="form-control input-sm" placeholder="Query" name="query">
                </div>
                <div class="form-group fg-line">
                    <input type="number" class="form-control input-sm" min="0" value="10" name="count">
                </div>
                <button type="submit" class="btn btn-primary btn-icon-text waves-effect" style="background-color:black">
                        <i class="zmdi zmdi-arrow-forward"></i>
                        Search
                </button>
            </form>
        </div>
        {% endif %}
        {% if session['query'] %}
        <div class="container">
            <form role="form" method="post">
                <button type="submit" class="btn btn-primary btn-icon-text waves-effect" style="background-color:black" name="other">
                        <i class="zmdi zmdi-arrow-forward"></i>
                        Search Another
                </button>
            </form>
        </div>
        {% endif %}
    {% endif %}
    {% if session['query'] %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Results</h2>
            </div>
            <div class="card-body card-padding">
                <div class="listview">
                    {% for node in session['results']%}
                            <a class="lv-item">
                                <div class="media">
                                    <div class="media-body">
                                        <div class="lv-title">
                                            <a href="file:///{{node['name']}}">{{ node['name'] }}</a>
                                        </div>
                                        <small class="lv-small">{{ node['activation'] }}</small>
                                    </div>
                                </div>
                            </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</section>
{% endif %}
{% endblock %}