<!DOCTYPE html>
<html lang="en">
    <head>
        <title>my IR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class=page>
            <header id = "header" class="clearfix" data-current-skin="blue">
                <ul class="header-inner">
                    <li class="logo hidden-xs">
                        <a href="{{ url_for('layout') }}">
                            <i class="zmdi zmdi-home"></i>
                            my Information Retrieval System
                        </a>
                    </li>
                </ul>
            </header>
        </div>
    </body>